// FONT FAMILY
@mixin font-family($font, $size, $color, $font-weight, $line-height) {
  font-family: $font;
  font-size: $size;
  color: $color;
  font-weight: $font-weight;
  line-height: $line-height;
}

// CENTER ELEMENT
@mixin centerElement {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

// FLEX
@mixin flex($display, $align-items, $justify-content) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

// ANIMATED
@mixin animation($time, $delay, $name) {
  -webkit-animation-duration: $time;
  animation-duration: $time;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
  -webkit-animation-name: $name;
  animation-name: $name;
}
